.search-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 16px;
  position: sticky;
  top: 74px;
  z-index: 1;
}

/* ?========media queries============== */
