.search-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 16px;
  position: fixed;
  top: 74px;
  z-index: 1;
}

/* ?========media queries============== */

@media (min-width: 800px) {
  .search-dropdown {
    top: 84px;
  }
}
